@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/grotesk/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("/fonts/grotesk/CabinetGrotesk-Variable.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
